<nav class="page-navbar desktop-menu">
    <ul class="nav-navbar container">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Serviços</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><img src="assets/imgs/logo-1.png" alt="Locarminas, logo da empresa" style="height: auto; width: 250px;"></a></li>
        <li class="nav-item"><a href="#" class="nav-link">Frota</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contato</a></li>
    </ul>
</nav>
